html, body {
    height: 100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.bg {
    background-color: black;
}

.name {
    font-family: 'Noto Sans', sans-serif; 
    font-size: 6vw; 
    font-weight: 700; 
    color:white; 
    margin-bottom: 3vh;
}

.jumbo-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:transparent !important;
}

.cont-center {
    margin-left: 2vh; 
    margin-right: 2vh;
}

.slottt-machine-recipe {
  margin: auto;
  height: 170px;
}

.slottt-machine-recipe__mask {
    margin: auto;
    width: 128px;
    height: 170px;
    overflow: hidden; 
    position: relative;
}

.slottt-machine-recipe__items_container {
    height: 170px;
    position: absolute;
}

.slottt-machine-recipe__item {
    min-height: 170px;
    max-height: 170px;
    width: 100%;
}

/* Typography */

body {
  font-family: Helvetica, Arial, sans serif;
}
